.yojna-list li{
    background-color: #f7ebe3 !important;
    cursor: pointer;
    font-size: 14px;
    color: #8e0505;
    
}
.yojna-list li:hover{
    text-decoration: underline;
    text-decoration: #8e0505;
}
