<!-- <div class="login-reg-panel">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <div class="register-info-box">
            <img src="../../../../assets/images/ZF_Blue_Small.svg" class="logo" />
        </div>
        <app-loading-spinner [loadingType]="'ripple'" *ngIf="loginloading"></app-loading-spinner>

        <div class="white-panel">
            <div class="login-show">
                <div class="login-title">
                    <img src="../../../../assets/images/@logo.svg" class="login_symbol" />
                    <span>Associate Login</span>
                </div>
                <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <input type="text" placeholder="User Name" class="form-control" [(ngModel)]="loginData.username"
                        name="username" required>
                </div>
                <div class="password-sec"><i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <input type="password" placeholder="Password" class="form-control" [(ngModel)]="loginData.password"
                        name="password" required value="Abhay">
                </div>
            </div>

        </div>
        <div class="signin-sec">

            <input type="submit" value="">
        </div>
    </form>
</div> -->
<div class="wrapper">
  <div class="sidebar">
    <!-- <app-sidebar-cmp></app-sidebar-cmp> -->
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">

        <div class="login-reg-panel back2">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="white-panel">
              <div class="login-pannel">

                <div class="login-show">

                  
                  <div class="reg-title ">
                    <!-- <img src="../../../../assets/images/@logo.svg" class="login_symbol" /> -->
                    <span>Register</span>
                    <ion-avatar item-end>
                      <img [src]="croppedImagepath" (click)="selectImage()">
                      <ion-icon name="camera" class="camera-icon"></ion-icon>
                      <!-- <i class="fas fa-camera"></i> -->
                      <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
                    </ion-avatar>
                  </div>
                  <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <!-- <input type="text" placeholder="User Name" class="form-control" 
                      name="username" required> -->

                    <input type="text" formControlName="firstname" class="form-control" placeholder="तुमचे नाव"
                      [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                      <div *ngIf="f.firstname.errors.required">तुमचे नाव टाका </div>
                    </div>
                  </div>
                  <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <!-- <input type="text" placeholder="User Name" class="form-control" 
                      name="username" required> -->

                    <input type="text" formControlName="lastname" class="form-control" placeholder="तुमचे आडनाव"
                      [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                      <div *ngIf="f.lastname.errors.required">तुमचे आडनाव टाका</div>
                    </div>
                  </div>
                  <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <!-- <input type="text" placeholder="User Name" class="form-control" 
                      name="username" required> -->

                    <input type="tel" formControlName="phonenumber" class="form-control" placeholder="तुमचे मोबाइल नंबर"
                      [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                    <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                      <div *ngIf="f.phonenumber.errors.required">तुमचे मोबाइल नंबर टाका</div>
                    </div>
                  </div>
                  <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <input type="password" formControlName="password" class="form-control"  placeholder="तुमचे Password नंबर"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">तुमचे Password नंबर टाका</div>
                    </div>
                  </div>

                  <div class="signin-sec margin-top">
                    <input type="submit" [disabled]="loading" class="form-control connect-btn" name="Connect" value="Connect">
                    <input type="button" [disabled]="loading" class="form-control back-btn" name="Back" routerLink="/login" value="Back">
                  </div>
                </div>

                <!-- <div class="signin-sec">
      
                  <input type="submit" value="">
              </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form> -->