
.border-gray{
    // border-bottom: 1px solid #ff5204;
    line-height: 30px;
}
.no-margin{
    margin: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.atikr-compl-box{
    margin: 10px 0px;
}
.btn-drop{
    width: 100%;
    margin-bottom: 10px;
}
.atikr-compl-box label{
    color: #f56905;
    font-size: 13px;
    margin: 5px 0px;
}

.person-detail h6{
    font-size: 13px;
    font-weight: bold;
    padding: 22px 0px 0px 0px;
}
.person-detail label{
    font-size: 13px;
}

.kk{
    // border: 1px solid red;
    padding: 0px 50px;
    font-size: 14px;
}
.header-ati{
    // border: 1px solid red;
}
.ion-card{
    // background-color: red !important;
    margin-top: 20px;
}
.drop-btn{
    font-size: 12px !important;
}

.complainImage{
    width: auto;
    display: block;
    margin: 0 auto;
    padding: .5rem;
}