
/* MODAL STYLES
-------------------------------*/
icon-modal {
    /* modals are hidden by default */
    display: none;
    label{
        background: rgba(233, 229, 229, 0.58);
    padding: 0 69px 0 15px;
    }
    .common-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5%;

        /* z-index must be higher than .common-modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .common-modal-body {
            padding: 20px;
            background: #fff;

            // /* margin exposes part of the modal background */
            // margin: 40px;
            height: 100%;
            border-radius: 16px;
            box-shadow: 0px 2px 19px #272626;
            position: relative;
        }
    }

    .common-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .common-modal and above everything else  */
        z-index: 900;
    }
}

body.common-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.submit-btn {
    background: #1c4f86;
    color: #fff;
    width: 130px;
    border-radius: 62px;
    float: left;
    margin-right: 10px;
}
.cancel-btn {
    background: #c2c7cc;
    color: #4b4b4b;
    width: 130px;
    border-radius: 62px;
}
.model-action{
    float: right;
    position: absolute;
    bottom: 4%;
    right: 3%;
}